<ion-tabs class="desktopTabs" *ngIf="!app.isInMobileMode()">
  <div slot="top" class="impersonationBanner" *ngIf="app.isImpersonating">
    <div class="impersonationInfo">
      <ion-icon icon="eye-outline"></ion-icon>
      <span>{{ 'CONFIGURATIONS.VIEWING_AS' | translate }}:</span>
      <ion-select
        class="personaSelect"
        interface="popover"
        [value]="app.impersonatedRole"
        (ionChange)="app.changeImpersonatedRole($event.detail.value)"
      >
        <ion-select-option value="STANDARD_USER">{{ 'CONFIGURATIONS.STANDARD_USER' | translate }}</ion-select-option>
        <ion-select-option value="OPPORTUNITIES_MANAGER">{{ 'CONFIGURATIONS.OPPORTUNITIES_MANAGER' | translate }}</ion-select-option>
        <ion-select-option value="DASHBOARD_MANAGER">{{ 'CONFIGURATIONS.DASHBOARD_MANAGER' | translate }}</ion-select-option>
        <ion-select-option *ngFor="let role of app.configurations?.customRoles" [value]="'CUSTOM_ROLE:' + role.id">
          {{ role.name }}
        </ion-select-option>
      </ion-select>
    </div>
    <ion-button size="small" fill="solid" color="light" class="exitPreviewBtn" (click)="app.exitSeeAs()">
      <ion-icon slot="start" icon="arrow-undo-outline"></ion-icon>
      {{ 'CONFIGURATIONS.EXIT_PREVIEW' | translate }}
    </ion-button>
  </div>
  <ion-tab-bar color="ideaToolbar" slot="top">
    <ion-tab-button (click)="app.goTo([''])">
      <ion-img [src]="app.getIcon(true)"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-label>{{ 'TABS.DASHBOARD' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="topics" *ngIf="!app.configurations.hideQATopics">
      <ion-label>{{ 'TABS.TOPICS' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="opportunities" *ngIf="!app.configurations.hideOpportunities">
      <ion-label>{{ 'TABS.OPPORTUNITIES' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="voting" *ngIf="!app.configurations.hideVoting">
      <ion-label>{{ 'TABS.VOTING' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="configurations"
      *ngIf="app.user.hasPermission('configurations') || app.user.hasPermission('configurations.contents') || app.user.hasPermission('configurations.options') || app.user.hasPermission('configurations.templates') || app.user.hasPermission('configurations.users') || app.user.hasPermission('configurations.moderation') || app.user.hasPermission('configurations.badges')"
    >
      <ion-label>{{ 'TABS.CONFIGURATIONS' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs class="mobileTabs" *ngIf="app.isInMobileMode()">
  <div slot="top" class="impersonationBanner" *ngIf="app.isImpersonating">
    <div class="impersonationInfo">
      <ion-icon icon="eye-outline"></ion-icon>
      <span>{{ 'CONFIGURATIONS.VIEWING_AS' | translate }}:</span>
      <ion-select
        class="personaSelect"
        interface="popover"
        [value]="app.impersonatedRole"
        (ionChange)="app.changeImpersonatedRole($event.detail.value)"
      >
        <ion-select-option value="STANDARD_USER">{{ 'CONFIGURATIONS.STANDARD_USER' | translate }}</ion-select-option>
        <ion-select-option value="OPPORTUNITIES_MANAGER">{{ 'CONFIGURATIONS.OPPORTUNITIES_MANAGER' | translate }}</ion-select-option>
        <ion-select-option value="DASHBOARD_MANAGER">{{ 'CONFIGURATIONS.DASHBOARD_MANAGER' | translate }}</ion-select-option>
        <ion-select-option *ngFor="let role of app.configurations?.customRoles" [value]="'CUSTOM_ROLE:' + role.id">
          {{ role.name }}
        </ion-select-option>
      </ion-select>
    </div>
    <ion-button size="small" fill="solid" color="light" class="exitPreviewBtn" (click)="app.exitSeeAs()">
      <ion-icon slot="start" icon="arrow-undo-outline"></ion-icon>
      {{ 'CONFIGURATIONS.EXIT_PREVIEW' | translate }}
    </ion-button>
  </div>
  <ion-tab-bar color="ideaToolbar" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon icon="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="topics" *ngIf="!app.configurations.hideQATopics">
      <ion-icon icon="chatbubbles"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="opportunities" *ngIf="!app.configurations.hideOpportunities">
      <ion-icon icon="balloon"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="voting" *ngIf="!app.configurations.hideVoting">
      <ion-icon icon="ticket"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon icon="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button
      tab="configurations"
      *ngIf="app.user.hasPermission('configurations') || app.user.hasPermission('configurations.contents') || app.user.hasPermission('configurations.options') || app.user.hasPermission('configurations.templates') || app.user.hasPermission('configurations.users') || app.user.hasPermission('configurations.moderation') || app.user.hasPermission('configurations.badges')"
    >
      <ion-icon icon="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
