<ion-item
  [button]="subject?.id"
  [color]="color"
  [lines]="lines"
  [class.small]="size === 'small'"
  (click)="openSubject($event)"
>
  <ion-avatar slot="start">
    <img
      [src]="subject.avatarURL || app.getAvatarFallbackURL(subject.type !== SubjectTypes.USER)"
      (error)="app.fallbackAvatar($event.target, subject.type !== SubjectTypes.USER)"
      alt=""
    />
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    {{ subject.name ?? ('COMMON.UNKNOWN' | translate) }}
    <p *ngIf="size !== 'small' && subject.getOrigin()">{{ subject.getOrigin() }}</p>
  </ion-label>
</ion-item>
