ion-item {
  ion-avatar {
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  ion-label {
    font-size: 0.9em;
    p b {
      font-weight: 600;
      cursor: pointer;
    }
  }
  .questionStats {
    ion-chip {
      margin: 0 2px;
      ion-label {
        font-weight: 600;
      }
    }
    ion-chip[disabled] {
      opacity: 1 !important;
    }
  }
  .questionStats.mobile {
    max-width: 120px;
    ion-chip ion-icon {
      font-size: 0.9em;
    }
  }
}
ion-item.current {
  border-left: 8px solid var(--ion-color-primary);
}
